{% extends "base.html" %}

{% block head %}
<title>TVTrend</title>
{% endblock %}

{% block content %}
<div class="ui container">
    <h1>TVTrend</h1>
    <p>Visualise trends of user ratings for TV shows</p>
    <form class="ui form" action="{{ url_for('search') }}" method="POST">
        <div class="inline field">
            <div id="searchBar" class="ui left icon action input" style="width:50%">
                <i class="search icon"></i>
                <input type="text" placeholder="Show Name..." name="showname" style="width:70%">
                <select class="ui dropdown" name="source">
                    <option selected="" value="imdb">IMDb</option>
                    <option value="trakt">Trakt.tv</option>
                </select>
                <button id="searchButton" class="ui button green" type="submit">Search</button>
            </div>
        </div>
    </form>
    <p>Try <a href="{{ url_for('plot_show',imdbId='tt0411008',source='imdb') }}">Lost</a>, <a href="{{ url_for('plot_show',imdbId='tt0903747',source='imdb') }}">Breaking Bad</a>, or <a href="{{ url_for('plot_show',imdbId='tt0944947',source='imdb') }}">Game of Thrones</a></p>
    <p><small>Source on <a href="http://github.com/livingag/TVTrend">GitHub</a></small></p>
</div>
<script>
    document.getElementById('searchButton').addEventListener('click', function() {
        var d = document.getElementById('searchBar');
        d.className += " loading";
    });
</script>
{% endblock %}