{% extends "base.html" %}

{% block head %}
<title>TVTrend</title>
<script type="text/javascript">
    $(document).ready(function () {
        $('.ui.search')
            .search({
                type: 'standard',
                source: {{shownames|tojson|safe}},
                searchFields: ['title'],
                onSelect: function (result, response) {
                    window.location = window.location.origin + '/' + result['id']
                }
            });
    });
</script>
<style type="text/css">
    .ui.search {
        font-family: 'IBM Plex Mono', monospace;
    }
</style>
{% endblock %}

{% block content %}
<div class="ui container">

    <div class="ui middle aligned grid" style="height: 80%;">
    <div class="ui twelve wide column">
    <h1>📺 TVTrend</h1>
    <p>Visualise trends of user ratings for TV shows</p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="ui negative message">
            <i class="close icon"></i>
            <div class="header">
                Plotting failed:
            </div>
            <p>{{ message }}</p>
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="ui form search">
        <div class="ui icon input" style="width: 70%;">
            <input class="prompt" name="showname" placeholder="Show name..." type="text" id="test" autofocus>
            <i class="search icon"></i>
        </div>
        <div class="results" style="width: 70%;"></div>
    </div>
    <p></p>
    <p>Or see the <a href="{{ url_for('popular') }}">Top 250</a> most popular shows</p>
    <p><small>Source on <a href="http://github.com/livingag/TVTrend">GitHub</a></small></p>
    </div></div>
</div>
<script>
    document.getElementById('searchButton').addEventListener('click', function() {
        var d = document.getElementById('searchBar');
        d.className += " loading";
    });
    $(document).ready(function (){
        $('.message .close').on('click', function () {
            $(this).closest('.message').transition('fade');
        });
    })
</script>
{% endblock %}