{% extends "base.html" %}

{% block head %}
<title>TVTrend - {{ showname }}</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
<style type="text/css">
    @media only screen and (min-width: 1200px){
        .ui.container {
            width: 80%;
        }

        .ui.grid.container {
            width: calc( 80%  +  2rem ) !important;
        }

        .ui.relaxed.grid.container {
            width: calc( 80%  +  3rem ) !important;
        }

        .ui.very.relaxed.grid.container {
            width: calc( 80%  +  5rem ) !important;
        }
        }
</style>
{% endblock %}

{% block content %}
<div class="ui container">
    <canvas id="canvas"></canvas>
    <div class="ui grid" style="margin-top: 1em; margin-left: 3em">
    <div class="four wide column">
        <div id="scaleCheck" class="ui checkbox">
            <input type="checkbox">
            <label style="color: whitesmoke">Scale 1-10</label>
        </div>
    </div>
    <div class="four wide column">
        <div id="seriesTrendCheck" class="ui checkbox">
            <input type="checkbox">
            <label style="color: whitesmoke">Series Trendline</label>
        </div>
    </div>
    </div>
</div>
<script type="text/javascript">
    var color = Chart.helpers.color;
    var colors = [
        '#4878CF',
        '#EE854A',
        '#6ACC64',
        '#D65F5F',
        '#B47CC7',
        '#C4AD66',
        '#77BEDB'
    ];
    window.onload = function () {
        Chart.defaults.global.defaultFontColor='#f5f5f5';
        chartDataSets = [];
        var colorInd = 0;
        var epNo = 1;
        var fitNo = 1;
        var epNames = {{ epInfo['names']|tojson|safe }};
        var epDates = {{ epInfo['dates']|tojson|safe }};
        var ctx = document.getElementById('canvas').getContext('2d');
        var seriesFit = [];
        {% for xx in fits['series'][0] %}
            seriesFit.push({
                x: {{ xx }},
                y: {{ fits['series'][1][loop.index0] }}
            });
        {% endfor %}
        chartDataSets.push({
            label: '',
            borderColor: '#909090',
            borderDash: [5],
            showLine: true,
            fill: false,
            borderWidth: 1,
            pointRadius: 0,
            data: seriesFit,
            hidden: true
        })
        {% for season in ratings %}
            var chartData = [];
            var fitData = [];
            {% for r in season %}
                chartData.push({
                    x: epNo,
                    y: {{ r }}
                });
                epNo++
            {% endfor %}
            {% for f in fits['season'][loop.index0] %}
                fitData.push({
                    x: fitNo,
                    y: {{ f }}
                });
                fitNo++
            {% endfor %}
            chartDataSets.push({
                label: '',
                borderColor: colors[colorInd],
                backgroundColor: colors[colorInd],
                pointRadius: 3,
                data: chartData,
            })
            chartDataSets.push({
                label: '',
                borderColor: colors[colorInd],
                backgroundColor: color(colors[colorInd]).alpha(0.2).rgbString(),
                showLine: true,
                fill: false,
                borderWidth: 1,
                pointRadius: 0,
                data: fitData,
            })
            colorInd++
            if (colorInd >= colors.length) {
                colorInd = 0;
            }
        {% endfor %}
        window.myScatter = new Chart(ctx, {
            type: 'scatter',
            data: {
                datasets: chartDataSets
            },
            options: {
                animation: {
                    duration: 0
                },
                title: {
                    display: true,
                    fontSize: 25,
                    text: '{{ showname }}'
                },
                tooltips: {
                    custom: function(tooltip) {
                        if (!tooltip) return;
                        tooltip.displayColors = false;
                    },
                    callbacks: {
                        afterLabel: function(tooltipItem, data) {
                            var y = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].y
                            return 'Rating: '+y
                        },
                        label: function(tooltipItem, data) {
                            var x = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].x
                            return 'Votes: '+epDates[x-1]

                        },
                        beforeLabel: function(tooltipItem, data) {
                            var x = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].x
                            return epNames[x-1]

                        }
                    }
                },
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Episode Number'
                        },
                        ticks: {
                            precision: 0,
                            min: 0.75,
                            max: epNo-0.75,
                            callback: function(tick) {
                                return (tick === epNo-0.75 || tick === 0.75)  ? '' : tick;
                                }
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            color: '#404040',
                            zeroLineColor: '#404040',
                            drawBorder: false
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Rating'
                        }
                    }]
                }
            }
        });
        var origMin = myScatter.scales["y-axis-1"].min
        var origMax = myScatter.scales["y-axis-1"].amax
        $('#seriesTrendCheck').checkbox({
            onChecked: function () {
                myScatter.data.datasets[0].hidden = false;
                myScatter.update();
            },
            onUnchecked: function() {
                myScatter.data.datasets[0].hidden = true;
                myScatter.update();
            }
        });
        $('#scaleCheck').checkbox({
            onChecked: function () {
                myScatter.options.scales.yAxes[0].ticks.max = 10
                myScatter.options.scales.yAxes[0].ticks.min = 0
                myScatter.update();
            },
            onUnchecked: function() {
                myScatter.options.scales.yAxes[0].ticks.max = origMax
                myScatter.options.scales.yAxes[0].ticks.min = origMin
                myScatter.update();
            }
        });
    };
</script>
{% endblock %}